<div class="col-sm-8">
  <div class="thumbnail">
    <img src={{entry.image}} alt={{entry.title}}>
    <div class="caption">
      <h3>{{#link-to 'entry' entry.id}}{{entry.title}}{{/link-to}}</h3>
      <p>{{entry.blurb}}</p>
    </div>
  </div>
</div>
