body {
  background-image: url(http://demandware.edgesuite.net/aamm_prd/on/demandware.static/-/Sites-joann-product-catalog/default/dw47f0a624/images/hi-res/13/13241559.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;

}

img {
  width: 100%;
}

.entryDetail {
  width: 600px;
  align-items: center;
  float:left;
}

.media-left{
  padding-left: 10px;
  padding-bottom: 10px;
}

.media-body {
  padding-right: 10px;
  padding-bottom: 10px;
}

#title {
  margin-left: 35px;
  font-size: 30px;
}

.links {
  margin-right: 20px;
  font-size: 20px;

}

.navbar-default {
  height: 100px;
  padding-top: 30px;
}
