body {
  background-color: #cfd9d0;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 16px;
}
nav {
}

img {
  width: 100%;
}

.entryDetail {
  width: 600px;
  align-items: center;
  float:left;
}

.pull-xs-left{
  padding: 10px;
}

.entryContent {
  padding: 10px;
}

#title {
  margin-left: 35px;
  font-size: 30px;
  color: #d2b29e;
}

.links {
  font-size: 20px;
  color: white;
}

.links:hover {
  color: #b5d0d4;
}

.lastOne {
  margin-right: 35px;
}

.navbar-default {
  background-color: #553e52;
  color: #d2b29e;
  height: 100px;
  padding-top: 30px;
}

/*This is the color palette we're using: http://colorpalettes.net/color-palette-2710/*/
