<h1 id="title">I Saw a Dog Today</h1>

<div class="container">
  {{outlet}}
</div>

<hr>
<footer>
  {{#link-to 'about'}}About{{/link-to}}<br>
  {{#link-to 'index'}}Home{{/link-to}}<br>
  {{#link-to 'contact'}}Contact{{/link-to}}<br>
  {{#link-to 'create'}}New Entry{{/link-to}}<br>
</footer>
